<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
<link href='http://fonts.useso.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/usermodal.css"/>
<link rel="stylesheet" type="text/css" href="/css/home.css"/>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/modernizr.js" type="text/javascript" charset="utf-8"></script>
</head>
<body ng-app="myapp" ng-controller="myctrl">
	<div class="container">
		<div class="topBox">
			<% if(username==""){ %>
			<nav class="main-nav">
				<ul>
					<li><a class="cd-signin" href="javascript:;">登 录</a></li>
					<li><a class="cd-signup" href="javascript:;">注 册</a></li>
				</ul>
			</nav>
			<% }else{ %>
				<nav class="login-nav">
					<ul>
						<li>用户：<%= username %></li>
						<li><a class="cd-signin" href="javascript:;" ng-click="loginout()">退出登录</a></li>
					</ul>
				</nav>
			<% } %>
		</div>
		<div class="bannerBox">
			<div class="addBox">
				<input type="text" placeholder="请输入要收藏的网址..." ng-model="addLink"/>
				<p class="addBtn" ng-click="check()">添加</p>
			</div>
			<div class="confirmBox" ng-show="stepShow" ng-cloak>
				<input type="text" class="markName" name="mark" placeholder="请输入名字" ng-model="markName">
				<input type="hidden" name="favicon" value="" ng-model="favicon">
				<!--记录网站小图标-->
				<select class="type" name="selt_type" ng-model="seltType" ng-options="a.name for a in initData.types">
				    <option value="">默认书签栏</option>
				</select>
				<p class="btn sure" ng-click="addOne()">收藏</button>
				<p class="btn cancle">取消</p>
			</div>
		</div>
		<div class="mainBox">
			<div class="leftPart">
				<h3 class="cTit">热门网站</h3>
				<div class="lineDash"></div>
				<ul class="list">
					<li>
						<a href="https://www.baidu.com/" target="_blank">
							<img src="/images/home/ban_baidu.jpg"/>
						</a>
					</li>
					<li>
						<a href="https://www.taobao.com/" target="_blank">
							<img src="/images/home/ban_taobao.jpg"/>
						</a>
					</li>
				</ul>
			</div><!-- leftPart End-->
			<div class="rightPart">
				<div class="oneType">
					<h3 class="minTit">默认书签栏</h3>
					<ul class="markList">
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank" title="百度一下你就知道">百度一下你就知道啦哈哈哈</a>
							<span class="delBtn"></span>
						</li>
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank">爱奇艺</a>
							<span class="delBtn"></span>
						</li>
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank">爱奇艺</a>
							<span class="delBtn"></span>
						</li>
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank">爱奇艺</a>
							<span class="delBtn"></span>
						</li>
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank">爱奇艺</a>
							<span class="delBtn"></span>
						</li>
					</ul>
				</div>
				<div class="oneType">
					<h3 class="minTit">技术</h3>
					<ul class="markList">
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank">爱奇艺</a>
							<span class="delBtn"></span>
						</li>
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank">爱奇艺</a>
							<span class="delBtn"></span>
						</li>
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank">爱奇艺</a>
							<span class="delBtn"></span>
						</li>
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank">爱奇艺</a>
							<span class="delBtn"></span>
						</li>
						<li>
							<img class="linkIcon" src="/images/default_wap.jpg" onerror="this.src='/images/default_wap.jpg'">
							<a href="http://www.iqiyi.com/" class="link" target="_blank">爱奇艺</a>
							<span class="delBtn"></span>
						</li>
					</ul>
				</div>
				
				<div class="addType" ng-click="showT()">
					新建书签
				</div>
			</div><!-- rightpart End-->
		</div><!-- mainBox End-->
	</div>
	
	<!--新建书签窗口-->
	<div class="type-modal" ng-show="typeShow" ng-cloak>
		<div class="box">
			<h3>新建书签</h3>
			<input type="text" ng-model="newType"/>
			<p ng-click="addT()">添加书签</p>
			<p class="cancle" ng-click="showT()">取消</p>
		</div>
	</div>
	
	
	<!--注册登录窗口-->
	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">用户登录</a></li>
				<li><a href="#0">新用户注册</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<div class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">邮箱</label>
						<input class="full-width has-padding has-border" id="signin-email" type="email" ng-model="signinEmai" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">密码</label>
						<input class="full-width has-padding has-border" id="signin-password" type="text" ng-model="signinPassword"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<!--<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p>-->

					<p class="fieldset">
						<input class="full-width" type="submit" value="登 录" ng-click="login()">
					</p>
				</div>
				
				<!--<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>-->
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<div class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">用户名</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" ng-model="signupUsername" placeholder="Username">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">邮箱</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" ng-model="signupEmail" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">密码</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text" ng-model="signupPassword"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					<!--<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>-->
					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="注 册" ng-click="reg()">
					</p>
				</div>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
</body>
</html>
<script src="/javascripts/usermodal.js"></script> 
<script src="/javascripts/home.js" type="text/javascript" charset="utf-8"></script>
